.card-style {
    background-color: #fff;
    padding: 25px;
    border: 1px solid #eee;
    border-radius: 6px;
    margin: 8px 0;
    max-height: 50vh;
    width: 100%;
}

.article-img {
    min-width: 30vh;
    max-height: 37vh;
    max-width: 80%;
}

.article-location {
    margin: 20px 0;
}

.article-price {
    margin: 10px 0;
}

.form-input {
    margin: 6px 0;
}

label {
    margin: 5px 0;
}

.badge.bg-background-grey {
    background-color: #eaedea;
}
