.article-img {
    min-width: 30vh;
    max-height: 37vh;
    max-width: 80%;
}

.article-location {
    margin: 20px 0;
}

.article-price {
    margin: 10px 0;
}

label {
    margin: 5px 0;
}

.badge.bg-background-grey {
    background-color: #eaedea;
}

.avatar-container {
    width: 80px;
    height: 80px;

}

.avatar-container img {
    height: 100%;
    max-width: 100%;
    border-radius: 50%;
}
