.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
}

.card-style {
    background-color: #fff;
    padding: 25px;
    border: 1px solid #eee;
    border-radius: 6px;
    margin: 8px 0;
}

.card-style.secondary-card {
    min-width: 100%;
}

.article-location {
    color: midnightblue !important;
    margin: 20px 0;
}

.article-price {
    color: orangered;
    margin: 10px 0;
}

.form-input {
    margin-bottom: 10px;
}

.category-list {
    align-items: center;
    justify-content: start;
}

.badge-style {
    padding: 125px;
    font-size: x-large;
    font-weight: bold;
}
