.card-style.create-card {
    width: 65%;
    height: auto;
    padding: 10px;
}

.form-container {
    margin: 0 5%;
}

.form-container + .button {
    display: flex;
    justify-content: end;
}

.form-container > * {
    margin: 3% 0;
}

.category-list-container {
    display: flex;
    align-items: center;
    justify-content: start;
}

.list-elements > * {
    margin: 5px;
}
