.card-style.create-card {
    width: 70%;
    padding: 10px;
    max-height: 80vh;
}

.category-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-element {
    margin: 0 12px;
    border: 3px solid #22577A;
}

.form-image-input{
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}
