h1, h2, h3, h4, h5, h6, p {
    font-family: 'Noto Sans', sans-serif;
    color: #06121A;
}

.color-primary {
    color: #1A394E !important;
}

.bg-color-primary {
    background-color: #1A394E !important;
}

.color-action {
    color: #22577A !important;
}

.bg-color-action {
    background-color: #22577A !important;
}

.color-secondary {
    color: #93C4E6 !important;
}

.bg-color-secondary {
    background-color: #93C4E6 !important;
}

.color-rentapp-black {
    color: #06121A !important;
}

.bg-color-rentapp-black {
    background-color: #06121A !important;
}

.color-rentapp-red {
    color: #EF6461 !important;
}

.bg-color-rentapp-red {
    background-color: #EF6461 !important;
}

.color-grey {
    color: #EAEDEA !important;
}

.bg-color-grey {
    background-color: #EAEDEA !important;
}

.nav-bar-style {
    height: 75px;
    align-items: center;
}

.container-height {
    min-height: 85vh;
}

.error-container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.card-style {
    background-color: #fff;
    padding: 25px;
    border: 1px solid #eee;
    border-radius: 6px;
    margin: 0 0 8px;
    max-height: 50vh;
    width: 100%;
}

.card-style.filters-card {
    max-height: 100%;
}

.filter-container {
    height: 25px;
}

.form-container {
    margin: 0 5%;
}

.form-container > * {
    margin: 3% 0;
}

.footer-style {
    height: 230px;
    width: 100%;
    bottom: 0;
    margin-top: 50px;
    justify-content: center;
}

.footer-image-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.footer-col {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

