h1, h2, h3, h4, h5, h6, p {
    font-family: 'Noto Sans', sans-serif;
    color: #06121A !important;
}

.color-primary {
    color: #22577A !important;
}

.bg-color-primary {
    background-color: #22577A !important;
}

.color-secondary {
    color: #93C4E6 !important;
}

.bg-color-secondary {
    background-color: #93C4E6 !important;
}

.color-rentapp-black {
    color: #06121A !important;
}

.bg-color-rentapp-black {
    background-color: #06121A !important;
}

.color-rentapp-red {
    color: #EF6461 !important;
}

.bg-color-rentapp-red {
    background-color: #EF6461 !important;
}

.color-grey {
    color: #EAEDEA !important;
}

.bg-color-grey {
    background-color: #EAEDEA !important;
}

.nav-bar-style {
    height: 75px;
    align-items: center;
}

.article-background {
    background-color: #eaedea;
}

.container-height {
    min-height: 85vh;
}

.error-container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
}

.footer-style {
    height: 230px;
    width: 100%;
    bottom: 0;
    margin-top: 50px;
    justify-content: center;
}

.footer-image-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.footer-col {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

