<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table>
    <tbody>
    <tr>
        <td></td>
        <td>
            <h4 th:text="#{email.renter.details}"></h4>
            <p th:text="#{email.deniedRequest.header}"></p>
            <p><a th:href="${callbackUrl}" th:text="#{email.deniedRequest.callBack}"></a></p>
        </td>
        <td></td>
    </tr>
    </tbody>
</table>
</body>
</html>