<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="border: 7px solid #22577A; background-color: #EAEDEA">
<img th:src="${imgSrc}" style="display: block;margin-left: auto;margin-right: auto;width: 50%;">
<table>
    <tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <p><strong th:text="#{email.greetings(${renterName})}" style="font-size: large;"></strong></p>
            <p><strong th:text="#{email.renter.header(${ownerName})}" style="font-size: large"></strong></p>
            <p th:text="#{email.renter.subtitle(${ownerName})}" style="font-size: large"></p>
            <hr/>
            <h4 th:text="#{email.renter.details}"></h4>
            <p th:text="#{email.renter.article(${articleName})}"></p>
            <p th:text="#{email.renter.startDate(${startDate})}"></p>
            <p th:text="#{email.renter.endDate(${endDate})}"></p>
            <p style="font-size: large"><a th:href="${callbackUrl}" th:text="#{email.renter.request.callBack}"></a></p>
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
</body>
</html>