<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table>
    <tbody>
    <tr>
        <td></td>
        <td>
            <h3 th:text="${renterName}"></h3>
            <h3 th:text="#{email.renter.header(${ownerName})}"></h3>
            <h3 th:text="#{email.renter.subtitle(${ownerName})}"></h3>
            <h4 th:text="#{email.renter.details}"></h4>
            <p th:text="#{email.renter.article(${articleName})}"></p>
            <p th:text="#{email.renter.startDate(${startDate})}"></p>
            <p th:text="#{email.renter.endDate(${endDate})}"></p>
            <h6><a th:href="${callbackUrl}" th:text="#{email.renter.callToAction}"></a></h6>
        </td>
        <td></td>
    </tr>
    </tbody>
</table>
</body>
</html>